/**
 * @页脚样式
 */
@import "compass/css3";
@import 'base/scss/function/px-to-rem';
//@import "base/scss/common";

.page-footer {
	position: relative;
	color: #333;
	.title {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}