@charset "utf-8";
//左浮动
.f-left {
	float: left;
}
//右浮动
.f-right {
	float: right;
}
//清除浮动
.clearfix {
	zoom: 1;
	clear: both;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
//隐藏
.none, .hide{
	display: none;
}
//显示
.show {
	display: block;
}
.h-color {
	color: #be0000;
}
.font-color {
	color: #333;
}
