<meta charset="UTF-8" />
<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<title><%= title %></title>
<script type="text/javascript" nonce="<%= script_nonce_str %>">
    /*响应式布局 start*/
    function setRootFontSize() {
        var width = document.documentElement.clientWidth, fontSize;
        if (width > 540) { width = 540 }
        fontSize = (width / 10);
        document.getElementsByTagName('html')[0].style['font-size'] = fontSize + 'px';
    }
    setRootFontSize();
    window.addEventListener('resize', function() {
        setRootFontSize();
    }, false);
    /*响应式布局 end*/
</script>
